.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.iframe-grid-container {
  flex-grow: 1;
  overflow-y: auto; /* Bara de scroll pentru grid, dacă este necesar */
}

.windows-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 coloane */
  gap: 10px; /* Spațiu între ferestre */
  padding: 10px;
}

.window-wrapper {
  width: 100%; /* Lățimea wrapper-ului este controlată de grid, nu de fereastră */
  resize: both; /* Permite redimensionarea */
  overflow: auto; /* Permite conținutului să se scrolleze dacă fereastra este redimensionată mai mic */
}

.non-embeddable-bar {
  background-color: rgba(128, 0, 128, 0.2); /* Mov transparent */
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  overflow-x: auto;
}

.non-embeddable-bar button {
  margin-right: 10px;
}
