.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("./images/bg-homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.add-url-container {
  position: relative;
  display: inline-block;
}

.add-url-button {
  margin-left: 1em;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-url-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.add-url-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.url-input-popup {
  margin-left: 1em;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  border: 1px solid #ccc;
  padding: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background: rgb(0, 0, 139);
  background-image: linear-gradient(to right, #0083b0, #00b4db);
}

.url-input-popup input {
  border-radius: 50px;
  padding: 5px;
}

.iframe-grid-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.windows-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4em;
  padding: 10px;
  width: 100%;
  align-items: start;
  overflow: auto;
}

@media (min-width: 1601px) {
  .windows-container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

@media (max-width: 600px) {
  .windows-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .windows-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (min-width: 1001px) {
  .windows-container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

.window-wrapper {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  resize: both;
  overflow: auto;
}

.non-embeddable-bar {
  border-top: 1px solid #ccc;
  padding: 1em;
  display: flex;
  overflow-x: auto;
  margin: 0 auto;
  width: 80%;
  border-radius: 20rem;
  background: rgba(255, 255, 255, 0.25);
}

.non-embeddable-bar button {
  margin-right: 10px;
  position: relative;
  bottom: 40px;
  background-color: #ff4545;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.top-part {
  display: flex;
  margin-top: 1em;
}

#___gcse_0 {
  margin: 0 auto;
  width: 50%;
}
.bottom-part {
  margin-bottom: 1em;
}

.gsc-control-cse {
  border-color: transparent !important;
  background-color: transparent !important;
}

form.gsc-search-box {
  border-radius: 50px !important;
  box-shadow: none !important;
  background: none !important;
  border: none !important;
}

.gsc-input-box {
  border: transparent !important;
  border-bottom: 1px solid #ccc !important;
  background-color: transparent !important;
}

#gsc-i-id1 {
  background: transparent !important;
}

input.gsc-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
  padding-bottom: 0.5em;
}

.gsc-search-button-v2 {
  border: transparent !important;
  background: transparent !important;
}

.gsc-search-button-v2 svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.gsib_a {
  padding: 1em 1em 1em 0 !important;
}
